/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "material";
@import "material-dashboard";
@import "font-awesome";

body {
font-family: 'Roboto', sans-serif;
}

.sidebar .logo .simple-text, .off-canvas-sidebar .logo .simple-text {
text-transform: capitalize;
padding: 5px 0px;
display: block;
font-size: 18px;
color: #3C4858;
text-align: center;
font-weight: bold;
line-height: 30px;
}


.navbar {
border-radius: 0px!important;
}

.category {
margin-bottom: 0px;
font-weight: bold;
text-transform: uppercase;
}

.main-panel {
position: relative;
z-index: 2;
overflow: auto;
width: 100%!important;
min-height: 100%;
-webkit-transform: translate3d(0px, 0, 0);
transform: translate3d(0px, 0, 0);
-webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.panel-body i.material-icons {
font-size: 44px;
}

.navbar .navbar-nav > li > a {
color: rgba(255, 255, 255, 0.62);
font-weight: bold;
}

.category {
	color: rgba(255, 255, 255, 0.62);
}

h3 {
	margin: 24px;
}